USE [master]
GO
ALTER DATABASE [Recipe_7_4_db] SET DB_CHAINING OFF 

USE [Recipe_7_4_db]
GO
/****** Object:  Table [dbo].[PhotoData]    Script Date: 05/19/2008 22:45:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PhotoData](
	[PhotoId] [varchar](50) NOT NULL,
	[Name] [varchar](30) NULL,
	[Location] [varchar](50) NULL,
	[Description] [varchar](200) NULL,
	[DateTaken] [datetime] NULL,
	[Rating] [tinyint] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF